
.header {
    -webkit-box-shadow: 0 10px 50px 7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 10px 50px 7px rgba(34, 60, 80, 0.2);
    box-shadow: 0 10px 50px 7px rgba(34, 60, 80, 0.2);
}

.burger-menu {
    cursor: pointer;
}

#burger-links-container {
    height: 0;
}

.show {
    height: auto;
}
