.service-content-container {
    flex-direction: row;
}

.service-description-container {
    width: 50%;
}

@media (max-width: 580px) {
    .service-content-container {
        flex-direction: column;
    }
    .service-description-container {
        width: 85%;
    }
}